<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <title>Edytuj Kuriera</title>
</head>
<body>
  <%- include('components/header.ejs') %>

  <h1>Edytuj Kuriera</h1>
  <form action="/admin-options/couriers/edit/<%= courier.id_courier %>" method="post">
    <label>Nazwa: <input type="text" name="name" value="<%= courier.name %>" required></label>
    <label>Cena: <input type="number" name="price" step="0.01" value="<%= courier.price %>" required></label>
    <button type="submit">Zapisz</button>
  </form>
  
  <%- include('components/footer.ejs') %>
</body>
</html>