<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfect Look</title>
  <link rel="stylesheet" type="text/css" href="/css/payment_stage.css">
</head>

<body>
  <%- include('components/header.ejs') %>
  <div class="container">
    <section class="parcel">
      <h1>Doreczyciel</h1>
      <% couriers.forEach(item => { %>
        <label>
          <input type="radio" name="couriers" onchange="updateCurierName('<%= item.name %>')" value="<%= item.price %>" data-name="<%= item.name %>">
          <%= item.name %> | <%= item.price %> zł
        </label>
      <% }); %>

      <h1>Adres dostawy</h1>
      <% address.forEach(item => { %>
        <label>
          <input type="radio" name="delivery_address" value="<%= item.address %>">
          <%= item.address %>
        </label>
      <% }); %>
    </section>
  </div>

  <div class="total-price">
    <span class="price" id="total-sum"></span>
    <a href="/cart" class="price">Wróć</a>
    <button type="button" id="next-button" class="button">Dalej</button>
  </div>

  <%- include('components/footer.ejs') %>

  <script>
    let curierName = "";
    let totalSum = parseFloat(<%= sum %>).toFixed(2);
    let lastCourierValue = 0;

    const updateCurierName = (newName) => {
      curierName = newName;
      console.log(curierName);
    };

    document.getElementById('total-sum').textContent = totalSum + ' ,-';

    document.querySelectorAll('input[name="couriers"]').forEach((input) => {
      input.addEventListener('change', (event) => {
        totalSum -= lastCourierValue;
        lastCourierValue = parseFloat(event.target.value);
        totalSum += lastCourierValue;
        document.getElementById('total-sum').textContent = totalSum + ' ,-';
      });
    });

    document.getElementById('next-button').addEventListener('click', function () {
      let couriersSelected = document.querySelector('input[name="couriers"]:checked');
      let deliveryAddressSelected = document.querySelector('input[name="delivery_address"]:checked');

      if (couriersSelected && deliveryAddressSelected) {
        let courierName = couriersSelected.dataset.name;
        let deliveryAddress = deliveryAddressSelected.value;

        let url = new URL('/payment_stage2', window.location.origin);
        url.searchParams.append('courier', courierName);
        url.searchParams.append('address', deliveryAddress);
        url.searchParams.append('totalSum', totalSum); // Pass totalSum as a query parameter

        window.location.href = url.toString();
      } else {
        alert('Proszę wybrać kuriera i adres dostawy przed kontynuacją.');
      }
    });
  </script>
</body>

</html>
